<mat-tab-group [selectedIndex]="isLoginTab ? 0:1">
    <mat-tab label="Login">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <div class="flex items-center gap-1 justify-center">
        Don't have account?<button (click)="toggle()" mat-button color="primary">Signup</button>
      </div>
    </mat-tab>
    <mat-tab label="Signup">
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <mat-form-field>
          <input matInput placeholder="FullName" formControlName="fullName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Signup</button>
      </form>
      <div class="flex items-center gap-1 justify-center">
        already have account?<button (click)="toggle()" mat-button color="primary">Login</button>
      </div>
    </mat-tab>
  </mat-tab-group>
  